.map-container-6 {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-container-6 iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.maps {
  box-shadow: 0px 12px 20px -15px #b80000;
}

.contact_details p {
  padding: 0;
  margin: 0;
}

.card {
  border: none;
}

.contacts {
  box-shadow: 0px 12px 20px -15px #b80000;
}

.contacts p {
  padding: 5px;
  margin:5px
}

form {
  box-shadow: 0px 12px 20px -15px #b80000;
}

form p {
  margin: 1% 2%;
  color: black;
}

textarea {
  margin: 1% 2%;
  padding: 5px;
  width: 95%;
  height:100px;
}

input {
  margin: 1% 2%;
  padding: 5px;
  width: 95%;
}

.submit {
  cursor: pointer;
  background-color: #e92730;
  color: white;
  border-radius: 3px;
  border: 0;
  padding: 3px;
  font-weight: 450;
  min-width: 20%;
  height: auto;
}
