footer {
  box-shadow: 0 -3px 15px -10px #b80000;
  margin-top: 10px;
}
.fa-facebook-square {
  color: #1977f3;
  border-radius: 500px;
}
.fa:hover {
  font-size: 225%;
}
.fa-twitter {
  color: #1ba1f5;
  border-radius: 500px;
}
.fa-youtube-play {
  color: #c4302b;
  border-radius: 500px;
}
.fa-instagram {
  border-radius: 500px;
  background: -webkit-linear-gradient(top right, purple, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
