/* 
FOR DARK MODE
body {
  background-color:black!important;
  color:white!important;
}
body .card {
  color:black!important;
}

body .nav-link {
  border:1.5px solid black!important;
}

body hr {
  color:white!important;
} */

.bg-light {
  background-color: white !important;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 99;
  box-shadow: 0px 3px 15px -10px #b80000;
}

#navigation hr {
  position: absolute;
}

.navbar-brand {
  margin: 0px;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 18px;
  color: #e92730 !important;
  /* border: 1.5px solid white !important; */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.navbar-light .navbar-nav .nav-link:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  height: 1.5px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.navbar-light .navbar-nav .nav-link:hover:before {
  right: 0;
}

.navbar-light .navbar-nav .nav-link.active:hover {
  border-bottom: none;
}

.navbar-nav .dropdown-menu {
  float: none;
  text-align: center;
}

.dropdown:hover > .dropdown-menu {
  display: block;
  width: 100%;
  margin-top: -2.5%;
}

.dropdown-menu {
  width: 100%;
  margin-top: -2.5%;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  color: #131515;
  background-color: #e4d9ff;
}

.navigation-padding {
  padding-top: 86px;
}

/* .navbar-light .navbar-nav .nav-link {
  font-size: 20px;
  margin: 0 5px;
} */

.navbar-light .navbar-nav .nav-link:hover {
  color: black;
}

.navbar-toggler {
  border-color: white;
}

.nav-link {
  color: white !important;
}

.navbar-nav > .active {
  border-bottom: 1px solid #e92730 !important;
}

@media only screen and (max-width: 991px) {
  .active {
    border-bottom: none !important;
  }
}
